<!DOCTYPE html>
<html>

<head>
  <title>설문조사 매크로</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="KFC/버거킹 설문조사 자동화" />
  <meta name="theme-color" content="#333333">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
  <link rel="manifest" href="images/favicon/manifest.json">
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/Uder.js"></script>
</head>

<body class="w3-content" style="max-width:1300px">


  <div class="w3-row">
    <div id="swag" class="w3-half w3-white w3-container w3-center" style="height:800px">
      <div style="padding-top:30px;">
        <svg id="layer" data-name="layer1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 200"><title>uderlogo</title><g style="opacity:0.8"><polygon points="538.576 52.129 545.719 39.718 560.039 39.697 567.217 52.088 560.075 64.5 545.755 64.521 538.576 52.129" style="fill:red"/><path d="M559.75085,40.19729l6.88867,11.89161-6.85406,11.91156-13.74274.02L539.15405,52.1288l6.85406-11.91156,13.74274-.02m.57593-1.00084-14.89746.02163-7.43,12.9124,7.46747,12.89077,14.89746-.02163,7.43-12.9124-7.46747-12.89077Z" style="fill:#fff"/><polygon points="562.319 67.102 569.461 54.69 583.781 54.669 590.96 67.061 583.818 79.473 569.498 79.494 562.319 67.102" style="fill:red"/><path d="M583.49359,55.17l6.88867,11.89161-6.85413,11.91156-13.74274.02-6.88867-11.89161,6.85413-11.91156,13.74274-.02m.57593-1.00084-14.89746.02163L561.742,67.10315l7.46747,12.89077,14.89746-.02163,7.43005-12.9124-7.46747-12.89077Z" style="fill:#fff"/><polygon points="562.761 38.056 569.903 25.644 584.224 25.623 591.401 38.014 584.26 50.426 569.939 50.447 562.761 38.056" style="fill:red"/><path d="M583.93549,26.12324l6.88867,11.89161-6.85406,11.91156-13.74274.02-6.88867-11.89161,6.85406-11.91156,13.74274-.02m.57593-1.00084L569.614,25.144l-7.43,12.9124,7.46747,12.89077,14.89746-.02163,7.43-12.9124L584.51141,25.1224Z" style="fill:#fff"/></g><path d="M394.291,153.16895a1.64183,1.64183,0,0,1-.293.98926,2.28954,2.28954,0,0,1-.95215.69531,6.7776,6.7776,0,0,1-1.83105.43945,25.06681,25.06681,0,0,1-3.00293.14648,24.27881,24.27881,0,0,1-2.92969-.14648,7.33155,7.33155,0,0,1-1.86816-.43945,1.99274,1.99274,0,0,1-.95117-.69531,1.79673,1.79673,0,0,1-.25684-.98926V55.31738a1.99,1.99,0,0,1,.25684-1.02539,1.8969,1.8969,0,0,1,.95117-.73242,7.33155,7.33155,0,0,1,1.86816-.43945,24.38012,24.38012,0,0,1,2.92969-.14648,25.16982,25.16982,0,0,1,3.00293.14648,6.7776,6.7776,0,0,1,1.83105.43945,2.15753,2.15753,0,0,1,.95215.73242,1.81383,1.81383,0,0,1,.293,1.02539Z"/><path d="M430.10645,64.98535q0,4.24878-1.61133,5.78613-1.61279,1.53809-5.93263,1.53809-4.248,0-5.82225-1.50146-1.57617-1.5-1.5752-5.67627,0-4.24658,1.61133-5.78613,1.60986-1.53809,5.93262-1.53809,4.24658,0,5.82227,1.50146Q430.106,60.81128,430.10645,64.98535Zm-1.3916,88.18359a1.64183,1.64183,0,0,1-.293.98926,2.28954,2.28954,0,0,1-.95215.69531,6.7776,6.7776,0,0,1-1.83105.43945,25.06681,25.06681,0,0,1-3.00293.14648,24.279,24.279,0,0,1-2.92969-.14648,7.33155,7.33155,0,0,1-1.86816-.43945,1.99274,1.99274,0,0,1-.95117-.69531,1.79673,1.79673,0,0,1-.25684-.98926V87.251a1.85056,1.85056,0,0,1,.25684-.95215,1.8969,1.8969,0,0,1,.95117-.73242,7.33155,7.33155,0,0,1,1.86816-.43945,24.38029,24.38029,0,0,1,2.92969-.14648,25.16982,25.16982,0,0,1,3.00293.14648,6.7776,6.7776,0,0,1,1.83105.43945,2.15753,2.15753,0,0,1,.95215.73242,1.69291,1.69291,0,0,1,.293.95215Z"/><path d="M487.16211,60.15137a13.57186,13.57186,0,0,1-.14648,2.23389,8.53493,8.53493,0,0,1-.33008,1.355,1.29872,1.29872,0,0,1-.47559.6958,1.35387,1.35387,0,0,1-.73242.18311,3.41527,3.41527,0,0,1-1.28223-.32959q-.76758-.32959-1.86719-.73242a20.42558,20.42558,0,0,0-2.59961-.73242,16.3617,16.3617,0,0,0-3.47949-.32959,10.95762,10.95762,0,0,0-4.61426.87891,7.08058,7.08058,0,0,0-3.07617,2.74658,13.33641,13.33641,0,0,0-1.68457,4.834,43.19192,43.19192,0,0,0-.5127,7.21436v7.17773H481.083a1.81364,1.81364,0,0,1,.98926.25635,2.29634,2.29634,0,0,1,.73242.87891,5.72617,5.72617,0,0,1,.51172,1.57471A12.67773,12.67773,0,0,1,483.5,90.40039a8.17629,8.17629,0,0,1-.65918,3.80859,1.97543,1.97543,0,0,1-1.75781,1.17188H466.36133v57.78809a1.64183,1.64183,0,0,1-.293.98926,2.28141,2.28141,0,0,1-.98828.69531,7.36287,7.36287,0,0,1-1.86816.43945,29.37013,29.37013,0,0,1-5.85937,0,7.342,7.342,0,0,1-1.86816-.43945,2.26949,2.26949,0,0,1-.98828-.69531,1.63529,1.63529,0,0,1-.293-.98926V95.38086h-9.30176a1.87618,1.87618,0,0,1-1.75781-1.17187,9.05874,9.05874,0,0,1-.58594-3.80859,15.65364,15.65364,0,0,1,.14648-2.34375,5.8209,5.8209,0,0,1,.43945-1.57471,1.92183,1.92183,0,0,1,.73242-.87891,2.00038,2.00038,0,0,1,1.02539-.25635h9.30176V78.53516a47.63969,47.63969,0,0,1,1.28125-11.82861,20.38835,20.38835,0,0,1,3.91895-8.09326,15.68665,15.68665,0,0,1,6.62793-4.65088,26.73033,26.73033,0,0,1,9.41211-1.50146,25.75183,25.75183,0,0,1,4.98047.47607,20.50758,20.50758,0,0,1,3.73535,1.02539,5.86322,5.86322,0,0,1,1.75781.98877,3.51185,3.51185,0,0,1,.73242,1.13525,6.172,6.172,0,0,1,.40332,1.68457A22.26791,22.26791,0,0,1,487.16211,60.15137Z"/><path d="M549.34473,117.35352q0,2.85645-1.43555,4.06445a4.93237,4.93237,0,0,1-3.27344,1.209H501.22461a40.63969,40.63969,0,0,0,1.10352,9.8877,19.04665,19.04665,0,0,0,3.67969,7.54395,16.55585,16.55585,0,0,0,6.69727,4.834,26.67948,26.67948,0,0,0,10.084,1.68457,41.32822,41.32822,0,0,0,8.38965-.76855,49.85158,49.85158,0,0,0,6.36621-1.72168q2.68652-.95068,4.416-1.72168a7.25638,7.25638,0,0,1,2.61426-.76855,1.6829,1.6829,0,0,1,.91895.25684,1.66278,1.66278,0,0,1,.626.76855,5.37734,5.37734,0,0,1,.33008,1.42871,19.12962,19.12962,0,0,1,.11133,2.2334,16.26484,16.26484,0,0,1-.07324,1.64746c-.04883.46484-.10937.87891-.18359,1.24609a3.19215,3.19215,0,0,1-.36523.98828,4.172,4.172,0,0,1-.66016.8418,10.67674,10.67674,0,0,1-2.37988,1.31836,34.60585,34.60585,0,0,1-5.127,1.79492,71.46218,71.46218,0,0,1-7.28809,1.57422,53.23783,53.23783,0,0,1-8.8252.69629,40.86321,40.86321,0,0,1-14.24512-2.27051,26.41181,26.41181,0,0,1-10.291-6.73828,28.79761,28.79761,0,0,1-6.29883-11.20605,52.19965,52.19965,0,0,1-2.124-15.67383,49.38511,49.38511,0,0,1,2.19727-15.27051,32.35113,32.35113,0,0,1,6.335-11.49951,27.6839,27.6839,0,0,1,9.998-7.251,32.78423,32.78423,0,0,1,13.11035-2.52686,31.71882,31.71882,0,0,1,13.21973,2.49023A25.00017,25.00017,0,0,1,542.5332,93.147a26.97139,26.97139,0,0,1,5.16406,9.88818,43.32211,43.32211,0,0,1,1.64746,12.12109Zm-12.1582-3.58887q.21973-9.52-4.2373-14.94141-4.459-5.41919-13.22754-5.41992a17.50723,17.50723,0,0,0-7.88477,1.68457,17.069,17.069,0,0,0-5.67578,4.46777,20.48553,20.48553,0,0,0-3.53711,6.48145,27.07242,27.07242,0,0,0-1.39941,7.72754Z"/><rect width="600" height="200" style="fill:#fff;opacity:0.31"/><path d="M75.55469,145.68359a30.34981,30.34981,0,0,1-11.07422,8.17383,38.63683,38.63683,0,0,1-15.64453,2.90039,39.16545,39.16545,0,0,1-12.78809-1.97754,24.74114,24.74114,0,0,1-9.8877-6.24023,28.81574,28.81574,0,0,1-6.416-10.98633A50.32231,50.32231,0,0,1,17.459,121.42578V59.90234H38.81641v61.69922a25.35775,25.35775,0,0,0,1.23047,8.56934,14.62216,14.62216,0,0,0,3.2959,5.44922,11.39213,11.39213,0,0,0,4.79,2.90039,19.34967,19.34967,0,0,0,5.71289.835q8.26025,0,13.35938-2.98828a19.04993,19.04993,0,0,0,7.64648-8.17383v-68.291H96.209V155H76.082Z"/><path d="M113.96289,106.748a70.998,70.998,0,0,1,2.59277-19.77539,46.447,46.447,0,0,1,7.4707-15.38086,33.25922,33.25922,0,0,1,27.46582-13.44727,33.50108,33.50108,0,0,1,13.93066,2.72461,30.76635,30.76635,0,0,1,10.50293,7.82227V20H197.2832V155H177.94727l-1.05469-9.84375a31.97133,31.97133,0,0,1-10.85449,8.56934,33.52884,33.52884,0,0,1-14.72168,3.03223,32.68186,32.68186,0,0,1-15.5127-3.64746,35.06759,35.06759,0,0,1-11.7334-10.06348,47.77946,47.77946,0,0,1-7.4707-15.249,66.88175,66.88175,0,0,1-2.63672-19.2041Zm21.35742,1.8457a57.18928,57.18928,0,0,0,1.18652,11.90918,30.77084,30.77084,0,0,0,3.7793,9.7998,19.41214,19.41214,0,0,0,6.63574,6.63574,18.84772,18.84772,0,0,0,9.84375,2.417q7.20557,0,11.82129-3.208a22.96084,22.96084,0,0,0,7.33887-8.48145V87.06055a21.76033,21.76033,0,0,0-7.38281-8.34961,20.62357,20.62357,0,0,0-11.60156-3.07617,18.83678,18.83678,0,0,0-9.8877,2.46094,19.685,19.685,0,0,0-6.67969,6.67969,31.4782,31.4782,0,0,0-3.82324,9.8877,56.83127,56.83127,0,0,0-1.23047,12.085Z"/><path d="M261.44336,156.75781a48.9578,48.9578,0,0,1-18.98438-3.51562,41.77129,41.77129,0,0,1-14.32617-9.668,42.29957,42.29957,0,0,1-9.05273-14.58984A51.39791,51.39791,0,0,1,215.916,110.791v-3.51562a58.67594,58.67594,0,0,1,3.33984-20.34668A46.46223,46.46223,0,0,1,228.39648,71.46a40.30159,40.30159,0,0,1,13.667-9.84375,41.43569,41.43569,0,0,1,16.91895-3.47168A43.27022,43.27022,0,0,1,277,61.61621a33.95817,33.95817,0,0,1,12.65625,9.71191,41.73729,41.73729,0,0,1,7.4707,14.85352,68.652,68.652,0,0,1,2.46094,18.89648v9.14063H237.44922a34.12522,34.12522,0,0,0,2.3291,10.19531,25.036,25.036,0,0,0,5.1416,8.042,23.59506,23.59506,0,0,0,7.69043,5.31738,24.96016,24.96016,0,0,0,10.06348,1.93359,28.47271,28.47271,0,0,0,13.75488-3.16406,32.23467,32.23467,0,0,0,10.15137-8.70117l11.51367,10.98633a39.07564,39.07564,0,0,1-5.66895,6.63574,38.51372,38.51372,0,0,1-7.91016,5.71289,45.47608,45.47608,0,0,1-10.23926,4.043A49.43606,49.43606,0,0,1,261.44336,156.75781ZM258.89453,75.2832a17.988,17.988,0,0,0-14.19434,6.15234q-5.40527,6.15308-6.89941,17.13867h40.69336v-1.582a38.97017,38.97017,0,0,0-1.3623-8.12988,20.752,20.752,0,0,0-3.38379-6.94336,16.38108,16.38108,0,0,0-5.93262-4.834A20.01965,20.01965,0,0,0,258.89453,75.2832Z"/><path d="M365.94531,79.41406q-2.10937-.3501-4.2627-.52734-2.15479-.175-4.43848-.17578-7.73437,0-12.56836,2.98828a18.32592,18.32592,0,0,0-7.207,8.26172V155H316.11133V59.90234H336.502l.52734,10.63477a27.60837,27.60837,0,0,1,8.9209-9.09668,23.28791,23.28791,0,0,1,12.52441-3.2959,25.2026,25.2026,0,0,1,4.1748.39551,17.01254,17.01254,0,0,1,3.38379.835Z"/></svg>
        <h1 style="font-size:18px;">설문 조사 매크로입니다.</h1><br>
        <h2 style="font-size:15px;">(원하시는 매장을 선택해주세요)</h2>
      </div>
      <div>
        <a href="#ckfc" class="w3-button w3-red w3-block w3-hover-deep-orange w3-padding-16"><img id="kfc" src="./images/KFC.png" height="100"></a>
        <a href="#cbuggerking" class="w3-button w3-blue w3-block w3-hover-cyan w3-padding-16"><img id="buggerking" src="./images/Burgerking.png" height="100"></a>
        <a href="#cdonut" class="w3-button w3-lime w3-block w3-hover-pale-green w3-padding-16"><img id="donut" src="./images/donuts.png" height="100"></a>
        <a href="#contact" class="w3-button w3-dark-grey w3-block w3-light-blue w3-padding-16">건의/제안</a>
      </div>
    </div>
    <div class="w3-half w3-indigo w3-container" style="height:600px">
      <div class="w3-padding-32 w3-center" style="color:black">
        <h1>NOTICE</h1>
        <img src="/images/favicon/ms-icon-310x310.png" height="100">
        <div class="w3-left-align w3-padding-large">
          <p> 현 서비스를 사용하시기에 앞서 개발자는 사용자 본인에게 발생하는 피해나 문제에 대해 책임을 지지 않습니다. </p>
          <p> 설문 조사는 모두 긍정적(만족)으로 처리됩니다. 그럼 즐겁게 써주시길 바랍니다. </p>
        </div>
      </div>
    </div>
  </div>

  <!-- kfc -->
  <div class="w3-row" id="ckfc">
    <div class="w3-half w3-light-grey w3-container w3-center" style="min-height:700px">
      <div class="w3-padding-32">
        <a href="http://www.kfckoreasurvey.com"> <img src="./images/KFC_2.png" height="200"></a>
        <h1>KFC 설문조사 매크로</h1>
      </div>
      <p>코드를 입력 후, 쿠폰 발급 버튼을 클릭해주세요</p>
      <b style="color:red">버튼 클릭 후 20초 정도만 기다려주세요</b>
      <br><br>

      <input pattern="[0-9]*" inputmode="numeric" placeholder="코드" type="number" id="code" />
      <input type="button" id="submit" value="쿠폰 발급" />
      <br><br><br>
      <div id="result"></div>

    </div>


    <!-- Buggerking -->
    <div class="w3-row">
      <div class="w3-half w3-container w3-center" style="height:700px;background-color:ivory" id="cbuggerking">
        <div class="w3-padding-32">
          <img src="./images/Burgerking.png" height="200">
          <h1 style="font-size:30px">버거킹 설문조사 매크로</h1>
        </div>
        <p>코드를 입력 후, 쿠폰 발급 버튼을 클릭해주세요</p>
        <b style="color:red">버튼 클릭 후 30초 정도만 기다려주세요</b>
        <br><br>

        <input pattern="[0-9]*" inputmode="numeric" placeholder="코드" type="number" id="Bcode" />
        <input type="button" id="Bsubmit" value="쿠폰 발급" />
        <br><br><br>
        <div id="Bresult"></div>
      </div>
    </div>

    <!-- donut -->
    <div class="w3-row">
      <div class="w3-half w3-container w3-center w3-pale-green" style="height:700px;" id="cdonut">
        <div class="w3-padding-32">
          <img src="./images/donuts.png" height="110">
          <h1 style="font-size:30px">크리스피크림 도넛 매크로</h1>
        </div>
        <p>코드를 입력 후, 쿠폰 발급 버튼을 클릭해주세요</p>
        <b style="color:red">점포코드 날짜 시간 순으로 입력해주세요</b>
        <br>
        <small>예:4832 2017-07-03 1323</small>
        <br><br>

        <input  placeholder="코드" type="number" id="Ccode" />
        <input type="button" id="Csubmit" value="쿠폰 발급" />
        <br><br><br>
        <div id="Cresult"></div>
      </div>
    </div>

    <div class="w3-half w3-teal w3-container" style="height:700px" id="contact">
      <div class="w3-padding-64 w3-padding-large">
        <h1>건의/제안</h1>
        <p class="w3-opacity">의견을 보내주세요</p>
        <form class="w3-container w3-card-2 w3-padding-32 w3-white" action="/deprecated" target="_blank">
          <div class="w3-section">
            <label>이름</label>
            <input class="w3-input" style="width:100%;" type="text" required name="Name">
          </div>
          <div class="w3-section">
            <label>이메일</label>
            <input class="w3-input" style="width:100%;" type="text" required name="Email">
          </div>
          <div class="w3-section">
            <label>메세지</label>
            <input class="w3-input" style="width:100%;" type="text" required name="Message">
          </div>
          <button type="submit" class="w3-button w3-teal w3-right" onclick="alert('죄송합니다. 현재 메일러 개발 중에 있습니다.')">전송</button>
        </form>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $('#submit').click(function() {
      $('#result').html('');
      $.ajax({
        url: 'https://deprecated/KFC',
        dataType: 'json',
        type: 'POST',
        data: {
          'code': $('#code').val()
        },
        success: function(result) {
          if (result['result'] == true) {
            $('#result').html(result['code']);
          }
        }
      });
    })

    $('#Bsubmit').click(function() {
      $('#Bresult').html('');
      $.ajax({
        url: 'https://deprecated/Bking',
        dataType: 'json',
        type: 'POST',
        data: {
          'Bcode': $('#Bcode').val()
        },
        success: function(result) {
          if (result['Bresult'] == true) {
            $('#Bresult').html(result['Bcode']);
          }
        }
      });
    })

    $('#Csubmit').click(function() {
      $('#Cresult').html('');
      $.ajax({
        url: 'https://deprecated/Donuts',
        dataType: 'json',
        type: 'POST',
        data: {
          'Ccode': $('#Ccode').val()
        },
        success: function(result) {
          if (result['Cresult'] == true) {
            $('#Cresult').html(result['Ccode']);
          }
        }
      });
    })

  </script>
</body>

</html>
